@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inter';
  src: url('./styles/fonts/Inter-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Inter';
  src: url('./styles/fonts/Inter-ExtraBold.ttf') format('truetype');
  font-weight: 800;
}
@font-face {
  font-family: 'Inter';
  src: url('./styles/fonts/Inter-Bold.ttf') format('truetype');
  font-weight: 700;
}
@font-face {
  font-family: 'Inter';
  src: url('./styles/fonts/Inter-Regular.ttf') format('truetype');
  font-weight: 400;
}

:root {
  line-height: 1.2;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Inter';
}

.ProseMirror {
  white-space: pre-wrap;
  word-wrap: break-word;
  outline: none;
  min-height: 200px;
  padding: 1rem;
}

.ProseMirror img {
  max-width: 100%;
  height: auto;
  display: block;
}

.ProseMirror ul {
  list-style-type: disc;
}

.ProseMirror ol {
  list-style-type: decimal;
}

h1 {
  font-size: 2.2rem;
  font-weight: 600;
  margin: 1rem 0 0.5rem;
}

h2 {
  font-size: 1.95rem;
  font-weight: 500;
  margin: 0.75rem 0 0.375rem;
}

h3 {
  font-size: 1.75rem;
  font-weight: 400;
  margin: 0.65rem 0 0.275rem;
}

h4 {
  font-size: 1.55rem;
  font-weight: 300;
  margin: 0.55rem 0 0.255rem;
}

h5 {
  font-size: 1.35rem;
  font-weight: 200;
  margin: 0.45rem 0 0.205rem;
}

h6 {
  font-size: 1.15rem;
  font-weight: 150;
  margin: 0.25rem 0 0.175rem;
}